// Variables
$primary-bg-color: #FFD5A2;
$text-color: #000;
$menu-bg-color: #FFF5E9; // Updated menu background color
$hover-shadow-color: #FF5C00;
$header-height: 60px;
$menu-item-font-size: 64px; // Font size for menu items

// Keyframes
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(400px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

// Mixins
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition($property, $duration, $ease) {
  transition: $property $duration $ease;
}






// Header
.header {
  position: fixed;
  width:100% ;
  max-width: 1440px;
  background-color: $primary-bg-color;
  z-index: 3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .header__inner {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: $header-height;
    @include flexCenter;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    .header__title {
      position: relative;
      flex-grow: 1;
      text-align: center;
      color: $text-color;
      font-size: 24px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  &__burger {
    cursor: pointer;
    background-color: transparent !important;
    padding:0 !important;
    border: transparent;
    margin-right:132px;
    z-index: 4;
    width: 40px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .burger__line {
      display: block;
      width: 100%;
      height: 1px;
      background: $text-color;
      @include transition(all, 0.3s, ease);
    }

    &.active {
      .burger__line:nth-child(1) {
        transform: rotate(45deg) translate(7px, 5px);
      }

      .burger__line:nth-child(2) {
        opacity: 0;
      }

      .burger__line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -5px);
      }
    }
  }

  &__nav {
    position: fixed;
    top: $header-height;
    left: 0;
    width: 100%;
    height: calc(100% - #{$header-height});
    background: $menu-bg-color; // Updated menu background color
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    @include transition(transform, 0.3s, ease);
    overflow: hidden;

    &.active {
      transform: translateX(0);
    }

    .nav__logo {
      margin-bottom: 20px;
      max-width: 150px;
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        animation: rotation 5s linear infinite; // Ajouter l'animation de rotation
      }

      &::before {
        left: -30px;
        background-image: url('./assets/images/orchid.png');
      }

      &::after {
        right: -30px;
        background-image: url('./assets/images/orchid.png');
      }
    }

    .nav__list {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;

      li {
        margin: 15px 0;
        position: relative;
        font-size: $menu-item-font-size; // Apply font size to menu items

        &::before,
        &::after {
          content: '';
          position: absolute;
          background-size: contain;
          background-repeat: no-repeat;
          transform: translateY(-50%);
        }

        // Images for each menu item
        &:nth-child(1) {
          &::before {
            left: -80px;
            width: 109.222px;
            height: 98.633px;
            background-image: url('./assets/images/blue_cat.png');
            animation: float 3s ease-in-out infinite;
          }
          &::after {
            right: -200px;
            top: -100px;
            width: 216px;
            height: 215.999px;
            background-image: url('./assets/images/Sunflower.png');
          }
        }

        &:nth-child(2) {
          &::after {
            right: -278px;
            width: 75.754px;
            height: 74.534px;
            background-image: url('./assets/images/random_flower.png');
          }
        }

        &:nth-child(3) {
          &::before {
            left: -130px;
            width: 70.762px;
            height: 70.76px;
            background-image: url('./assets/images/flower.png');
            animation: rotation 5s linear infinite;
          }
          &::after {
            right: -200px;
            width: 154.743px;
            height: 147.567px;
            background-image: url('./assets/images/black_cat.png');
            animation: float 3s ease-in-out infinite;
          }
        }

        &:nth-child(4) {
          &::before {
            left: -200px;
            width: 105.914px;
            height: 95.646px;
            background-image: url('./assets/images/orange_cat.png');
            animation: float 3s ease-in-out infinite;
          }
          
        }
        &:nth-child(5) {
          
          &::after {
            right: -8em;
            bottom: -8em;
            background-image: url('./assets/images/Hibiscus.png');
            width: 626.005px;
            height: 626px;
          }
        }
        a {
          color: #000; // Change link color to match new background
          position: relative;
          transition: text-shadow 0.3s ease;

          &:hover {
            text-shadow: 0px 0px 14px $hover-shadow-color;
          }
        }
      }
    }
  }
}
// dernieère partie
#oscar{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 563px;

    &::before{
      content: url('./assets/images/Sunflower.png');
      left: 4em;
      top: -1em;
      animation: rotation  5s linear infinite;
    }
    &::after{
      content: url('./assets/images/orchid.png');
      right: -4em;
      bottom: 7.8em;
    }

  .oscar__title{
    width: 643px;
    height: 187px;
    padding:250px 10px 250px 0;
    font-size: 42px;
    font-weight: 700;
    padding: 0;
  }

  .oscar__logo{
  width: 278px;
  height: 129px;
}
}

// Main content
h2{
   
}
h3{
  background-image: url('./assets/images/orange_place_bg.png');
  background-position: center;
  background-size: 100%;

}


// Video background
#background-video {
  width: 100%;
  max-width: 1440px;
  height: 806px;
  margin: 0 auto;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


//animations
p::after,
h2::after, 
#studio h2::before,
#studio h2::after,
#colophon::before,
#colophon::after,
.story__article::after,
ul::after 
 {
  animation:fadeInUp 4s ease-out forwards,rotation 5s linear infinite;
}

.story h2::after,
.story__article::before,
.story__article::after,
.story__title::before,
 img.logo,
 #place h3,
 #studio > div::before
 {
  animation:fadeInUp 4s ease-out forwards;
}

.banner {
  animation: fadeInDown 4s ease-out forwards;
}

#place {
  

  h3{
    background-image: url(./assets/images/place_bg.png) !important;

    
    &::before{
    content: url(./assests/images/big_cloud.png);
    position: absolute;
    width: 266px;
    height: 91px;
    left: 0;
    top: 1.8em;
  }

  &::after{
    content: url(./assests/images/little_cloud.png);
    position: absolute;
    width: 183px;
    height: 63px;
  }
}

.swiper-container {
display: flex !important;


}







